:root{
  --bg1: 3, 5, 7;
  --bg2: 10, 29, 41;
  --primary: 15, 151, 235;
  --primary-accent1: 84, 190, 255;
  --primary-accent2: 71, 110, 169;
  --secondary: 7, 27, 50;
  --secondary-accent: 23, 29, 38;
  --text-color: 218, 220, 225;
  --speed: 500ms;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(var(--text-color));
  border-style: none;
  border-radius: 0;
}

body {
  background-color: rgb(var(--bg1));
  
}

a {
  text-decoration: none;
}
h1 {
  font-size: 7rem;
  margin-left: -5px;
}
h2 {
  font-size: 2rem;
  text-align: center;
}

.button-filled .button-outlined{
  display: inline-block;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.button-filled{
  color: white;
  background-color: #54BEFF;
  border: 2px solid #54BEFF;
}
.button-outlined{
  color: #54BEFF;
  background-color: transparent;
  border: 2px solid #54BEFF;
}

.section-format{
  max-width: 100%;
  padding: 1.5rem 1.5rem;
  margin: 0px 10%;
  overflow: hidden;
  transition: all 0.3s ease;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

header .nav {

}

header .hero-container .hero {
  position: absolute;
  top: 40%;
  left: 5%;
}

header .hero-container .hero .description{
  color: white;
  font-size: 1.5rem;
  width: 70vh;
}

header .portrait-container{

}

#projects .listed-project{
  background-color: rgba(var(--secondary), 0.8);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 25px black;
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 25px 0;
  padding: 10px 0;
}

#projects .listed-project .project-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

#projects .listed-project .project-info h3{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

#projects .listed-project .project-info .project-description{
  font-size: 1.3rem;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

#projects .listed-project .project-info .languages-used-title{
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(var(--primary-accent1));
  padding: 0 2rem;
  margin-bottom: 0.6rem;
}

#projects .listed-project .project-info .languages-used{
  padding: 0 2rem;
  display: flex;
}

#projects .listed-project .project-info .languages-used .language{
  display: flex;
  align-items: center;
  background-color: #B9DAF3;
  padding: 4px 0.75rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

#projects .listed-project .project-info .languages-used .language p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #04161D;
  padding-left: 0.3rem;
}